:root {
  /*=====================================================================*/
  --bg-color: #1e1e1e; /*主页面背景色*/
  --text-color: #dadada; /*主页面字体颜色*/

  /* Side Bar */
  --side-bar-bg-color: #1e1e1e; /*Sidebar整体的背景颜色*/
  --side-bar-fg-color: #000000;
  --sidebar-width: 300px;

  --select-text-bg-color: #4a89dc;

  --control-text-color: #b7b7b7; /*Sidebar未选中文件名的颜色*/
  --control-text-hover-color: #eee;
  --window-border: 1px solid #555;

  --active-file-bg-color: #252526; /*Sidebar选中文件的背景颜色*/
  --active-file-text-color: #179fff; /*Sidebar选中文件的字体颜色*/
  --active-file-border-color: #15ac8e;

  --item-hover-bg-color: #252526; /*大纲选中背景色*/
  --item-hover-text-color: #179fff;
  --primary-color: #6dc1e7;

  --rawblock-edit-panel-bd: #333;
  --search-select-bg-color: #428bca;
  --search-select-text-color: #000000;
}

html {
  /*设置正文字体*/
  font-family: Microsoft Yahei;
  font-size: 20px; /*正文字体大小, 会自动调整到偏好设置字体大小*/
  text-align: justify; /*文本两端对齐：justify*/
  -webkit-font-smoothing: antialiased; /*这个属性可以使页面上的字体抗锯齿,使用后字体看起来会更清晰*/
}

html,
body {
  /*设置正文行高、背景色等*/
  font-family: Microsoft Yahei;
  line-height: 150%; /*行高 160*/
  background: #1e1e1e;  /*主页面背景色*/
  fill: currentColor;
  color: #dadadada;  /*主页面字体颜色*/
}

#write {
  max-width: 90%; /*主页面宽度比例*/
  /*max-width: 860px;*/
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 100px;
  counter-reset: h1;
}

/*
@media only screen and (min-width: 1400px) {
	#write {
		max-width: 1024px;
	}
}

@media only screen and (min-width: 1800px) {
	#write {
		max-width: 1200px;
	}
}
*/

a {
  color: #dcdcaa;
}

/* 水平分隔线 ***/
hr {
  border: none;
  border-top: 2px dashed #8392a5;
  height: 2px; /*两线间距*/
}


textarea {
  font-family: Microsoft Yahei, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* 块/段落引用 */
blockquote {
  position: relative;
  color: #8b8b6e; /*引用字体颜色*/
  font-weight: 400;
  border: 2px dashed #9cdcfe;
  border-radius: 10px;
  padding: 0.5em;
  margin: 2em 2em 3em 2em; /*上右下左*/
}

p {
    margin: 16px 0px 16px 0px;
}

/*ul无序列表 */
ul {
  color: #5c9c39; /*列表字体颜色*/
  font-family: Microsoft Yahei;
  /*list-style: disc;*/
  margin-left: 0;
}

/* ol有序列表*/
ol {
  color: #8392a5; /*列表字体颜色*/
  font-family: Microsoft Yahei;
  list-style: decimal;
  margin-left: 0;
}

/*强调文本*/
strong {
  color: #578ef4;
  font-weight: 1000; /*bolder*/
  /*font-size: 20px ;*/
  /* text-shadow: 2px 2px 8px var(--color-White);   阴影 */
}

/* 修改高亮文本的属性 */
mark {
  background: #ffeb11;
  color: #4e4b4b;
}

/*侧边栏标题显示样式*/
.outline-h1 > .outline-item > .outline-label,
.outline-h2 > .outline-item > .outline-label,
.outline-h3 > .outline-item > .outline-label,
.outline-h4 > .outline-item > .outline-label,
.outline-h5 > .outline-item > .outline-label,
.outline-h6 > .outline-item > .outline-label,
.outline-h7 > .outline-item > .outline-label {
    color:#6a9955;
    font-size: 14px ;
    font-weight: 400; 
  }

/*侧边栏选中标题显示样式*/
.outline-h1 > .outline-item-active > .outline-label,
.outline-h2 > .outline-item-active > .outline-label,
.outline-h3 > .outline-item-active > .outline-label,
.outline-h4 > .outline-item-active > .outline-label,
.outline-h5 > .outline-item-active > .outline-label,
.outline-h6 > .outline-item-active > .outline-label,
.outline-h7 > .outline-item-active > .outline-label {
    color:#578ef4;
    font-size: 16px ;
    font-weight: 600; 
  }


/*图片设置*/
img {
  /*四周圆弧大小*/
  border-radius: 12px;
  background-color: #1e1e1e;
  /*max-width:80%; 500px*/
}

/*`  `*/
code {
  font-family: Microsoft Yahei;
  background-color: #4d4e50;
  font-size: 20px;
  color: #dcdcaa;
  /*border: 0px solid #37373d;*/
  border-radius: 3px;
  padding: 0.5px 3px 0.5px 3px;
  font-style: normal;
  font-weight: 1000;
  margin: 0px 1px 0px 1px;;
}

/* 统一上标和下标 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/*table----------------------------------------------------------------------------*/
table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: solid 3px #3c3c3c; /*表格边框颜色*/
  margin-bottom: 20px;
}

/*表头*/
table th {
  color: #179fff;
  font-weight: 800;
  font-size: 20px;
  background-color: #1a1919;

  padding: 8px;
  line-height: 130%;
  border: 1px solid #3c3c3c;
  vertical-align: middle;
  text-align:center;
}

table td {
  padding: 8px;
  font-size: 16px;
  line-height: 110%;
  border: 0.5px solid #3c3c3c;
  text-align:center;
}

table tr:nth-child(even) {
  background: #252526; /*隔行背景色*/
  vertical-align: middle;
}

h1 {
  font-size: 24px;
  width: auto;
  font-family: Microsoft Yahei;
  -webkit-font-smoothing: initial;
  line-height: 1.35;
  margin: 50px 1px 10px 0px;
  font-weight: 600;
  color: #6a9955; /*标题颜色 DarkGreen*/
  font-variant-numeric: lining-nums;
  border-top: 3px solid #3c3c3c; /*下划线*/
  padding: 0em 0 0 0;
}

h2 {
  font-size: 22px;
  width: auto;
  font-family: Microsoft Yahei;
  -webkit-font-smoothing: initial;
  line-height: 1.35;
  margin: 50px 1px 10px 0px;
  font-weight: 600;
  color: #6a9955; /*标题颜色 DarkGreen*/
  font-variant-numeric: lining-nums;
  border-top: 1px solid #3c3c3c; /*下划线*/
  padding: 0em 0 0 0;
}

h3,
h4,
h5,
h6 {
  font-size: 20px;
  width: auto;
  font-family: Microsoft Yahei;
  -webkit-font-smoothing: initial;
  line-height: 1.35;
  margin: 40px 1px 10px 0px;
  font-weight: 600;
  color: #6a9955; /*标题颜色*/
  font-variant-numeric: lining-nums;
  border-top: 1.5px solid #3c3c3c; /* 下划线*/
}

/*自动编号*/
h1 {
  counter-reset: h2;
}

h2 {
  counter-reset: h3;
}

h3 {
  counter-reset: h4;
}

h4 {
  counter-reset: h5;
}

h5 {
  counter-reset: h6;
}

/* 标题输入之前格式 */
#write h1::before,
#write h2::before {
  color: #ce9178;
  border: inherit;
  border-radius: inherit;
  position: inherit;
  left: initial;
  float: none;
  top: initial;
  font-size: 24px;
  padding-left: inherit;
  padding-right: inherit;
  vertical-align: inherit;
  font-weight: inherit;
  line-height: inherit;
}

#write h3::before,
#write h4::before,
#write h5::before,
#write h6::before {
  color: #ce9178;
  border: inherit;
  border-radius: inherit;
  position: inherit;
  left: initial;
  float: none;
  top: initial;
  font-size: 24px;
  padding-left: inherit;
  padding-right: inherit;
  vertical-align: inherit;
  font-weight: inherit;
  line-height: inherit;
}

#write h1::before {
  counter-increment: h1;
  content: counter(h1) " ";
}

#write h2::before {
  counter-increment: h2;
  content: counter(h1) "." counter(h2) " ";
}

#write h3::before {
  counter-increment: h3;
  content: counter(h1) "." counter(h2) "." counter(h3) " ";
}

#write h4::before {
  counter-increment: h4;
  content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) " ";
}

#write h5::before {
  counter-increment: h5;
  content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "."
    counter(h5) " ";
}

#write h6::before {
  counter-increment: h6;
  content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "."
    counter(h5) "." counter(h6) " ";
}

/*左侧大纲自动编号*/
.sidebar-content {
  counter-reset: h1;
}

.outline-h1 {
  counter-reset: h2;
}

.outline-h2 {
  counter-reset: h3;
}

.outline-h3 {
  counter-reset: h4;
}

.outline-h4 {
  counter-reset: h5;
}

.outline-h5 {
  counter-reset: h6;
}

.outline-h1 > .outline-item > .outline-label:before {
  counter-increment: h1;
  content: counter(h1) " ";
}

.outline-h2 > .outline-item > .outline-label:before {
  counter-increment: h2;
  content: counter(h1) "." counter(h2) " ";
}

.outline-h3 > .outline-item > .outline-label:before {
  counter-increment: h3;
  content: counter(h1) "." counter(h2) "." counter(h3) " ";
}

.outline-h4 > .outline-item > .outline-label:before {
  counter-increment: h4;
  content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) " ";
}

.outline-h5 > .outline-item > .outline-label:before {
  counter-increment: h5;
  content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "."
    counter(h5) " ";
}

.outline-h6 > .outline-item > .outline-label:before {
  counter-increment: h6;
  content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "."
    counter(h5) "." counter(h6) " ";
}
