:root {
  --color-LightPink:  #FFB6C1 ;   /*浅粉红*/
  --color-Pink:  #FFC0CB ;   /*粉红*/
  --color-Crimson:  #DC143C ;   /*猩红*/
  --color-LavenderBlush:  #FFF0F5 ;   /*脸红的淡紫色*/
  --color-PaleVioletRed:  #DB7093 ;   /*苍白的紫罗兰红色*/
  --color-HotPink:  #FF69B4 ;   /*热情的粉红*/
  --color-DeepPink:  #FF1493 ;   /*深粉色*/
  --color-MediumVioletRed:  #C71585 ;   /*适中的紫罗兰红色*/
  --color-Orchid:  #DA70D6 ;   /*兰花的紫色*/
  --color-Thistle:  #D8BFD8 ;   /*蓟*/
  --color-plum:  #DDA0DD ;   /*李子*/
  --color-Violet:  #EE82EE ;   /*紫罗兰*/
  --color-Magenta:  #FF00FF ;   /*洋红*/
  --color-Fuchsia:  #FF00FF ;   /*灯笼海棠(紫红色)*/
  --color-DarkMagenta:  #8B008B ;   /*深洋红色*/
  --color-Purple:  #800080 ;   /*紫色*/
  --color-MediumOrchid:  #BA55D3 ;   /*适中的兰花紫*/
  --color-DarkVoilet:  #9400D3 ;   /*深紫罗兰色*/
  --color-DarkOrchid:  #9932CC ;   /*深兰花紫*/
  --color-Indigo:  #4B0082 ;   /*靛青*/
  --color-BlueViolet:  #8A2BE2 ;   /*深紫罗兰的蓝色*/
  --color-MediumPurple:  #9370DB ;   /*适中的紫色*/
  --color-MediumSlateBlue:  #7B68EE ;   /*适中的板岩暗蓝灰色*/
  --color-SlateBlue:  #6A5ACD ;   /*板岩暗蓝灰色*/
  --color-DarkSlateBlue:  #483D8B ;   /*深岩暗蓝灰色*/
  --color-Lavender:  #E6E6FA ;   /*熏衣草花的淡紫色*/
  --color-GhostWhite:  #F8F8FF ;   /*幽灵的白色*/
  --color-Blue:  #0000FF ;   /*纯蓝*/
  --color-MediumBlue:  #0000CD ;   /*适中的蓝色*/
  --color-MidnightBlue:  #191970 ;   /*午夜的蓝色*/
  --color-DarkBlue:  #00008B ;   /*深蓝色*/
  --color-Navy:  #000080 ;   /*海军蓝*/
  --color-RoyalBlue:  #4169E1 ;   /*皇军蓝*/
  --color-CornflowerBlue:  #6495ED ;   /*矢车菊的蓝色*/
  --color-LightSteelBlue:  #B0C4DE ;   /*淡钢蓝*/
  --color-LightSlateGray:  #778899 ;   /*浅石板灰*/
  --color-SlateGray:  #708090 ;   /*石板灰*/
  --color-DoderBlue:  #1E90FF ;   /*道奇蓝*/
  --color-AliceBlue:  #F0F8FF ;   /*爱丽丝蓝*/
  --color-SteelBlue:  #4682B4 ;   /*钢蓝*/
  --color-LightSkyBlue:  #87CEFA ;   /*淡蓝色*/
  --color-SkyBlue:  #87CEEB ;   /*天蓝色*/
  --color-DeepSkyBlue:  #00BFFF ;   /*深天蓝*/
  --color-LightBLue:  #ADD8E6 ;   /*淡蓝*/
  --color-PowDerBlue:  #B0E0E6 ;   /*火药蓝*/
  --color-CadetBlue:  #5F9EA0 ;   /*军校蓝*/
  --color-Azure:  #F0FFFF ;   /*蔚蓝色*/
  --color-LightCyan:  #E1FFFF ;   /*淡青色*/
  --color-PaleTurquoise:  #AFEEEE ;   /*苍白的绿宝石*/
  --color-Cyan:  #00FFFF ;   /*青色*/
  --color-Aqua:  #00FFFF ;   /*水绿色*/
  --color-DarkTurquoise:  #00CED1 ;   /*深绿宝石*/
  --color-DarkSlateGray:  #2F4F4F ;   /*深石板灰*/
  --color-DarkCyan:  #008B8B ;   /*深青色*/
  --color-Teal:  #008080 ;   /*水鸭色*/
  --color-MediumTurquoise:  #48D1CC ;   /*适中的绿宝石*/
  --color-LightSeaGreen:  #20B2AA ;   /*浅海洋绿*/
  --color-Turquoise:  #40E0D0 ;   /*绿宝石*/
  --color-Auqamarin:  #7FFFAA ;   /*绿玉\碧绿色*/
  --color-MediumAquamarine:  #00FA9A ;   /*适中的碧绿色*/
  --color-MediumSpringGreen:  #F5FFFA ;   /*适中的春天的绿色*/
  --color-MintCream:  #00FF7F ;   /*薄荷奶油*/
  --color-SpringGreen:  #3CB371 ;   /*春天的绿色*/
  --color-SeaGreen:  #2E8B57 ;   /*海洋绿*/
  --color-Honeydew:  #F0FFF0 ;   /*蜂蜜*/
  --color-LightGreen:  #90EE90 ;   /*淡绿色*/
  --color-PaleGreen:  #98FB98 ;   /*苍白的绿色*/
  --color-DarkSeaGreen:  #8FBC8F ;   /*深海洋绿*/
  --color-LimeGreen:  #32CD32 ;   /*酸橙绿*/
  --color-Lime:  #00FF00 ;   /*酸橙色*/
  --color-ForestGreen:  #228B22 ;   /*森林绿*/
  --color-Green:  #008000 ;   /*纯绿*/
  --color-DarkGreen:  #006400 ;   /*深绿色*/
  --color-Chartreuse:  #7FFF00 ;   /*查特酒绿*/
  --color-LawnGreen:  #7CFC00 ;   /*草坪绿*/
  --color-GreenYellow:  #ADFF2F ;   /*绿黄色*/
  --color-OliveDrab:  #556B2F ;   /*橄榄土褐色*/
  --color-Beige:  #6B8E23 ;   /*米色(浅褐色)*/
  --color-LightGoldenrodYellow:  #FAFAD2 ;   /*浅秋麒麟黄*/
  --color-Ivory:  #FFFFF0 ;   /*象牙*/
  --color-LightYellow:  #FFFFE0 ;   /*浅黄色*/
  --color-Yellow:  #FFFF00 ;   /*纯黄*/
  --color-Olive:  #808000 ;   /*橄榄*/
  --color-DarkKhaki:  #BDB76B ;   /*深卡其布*/
  --color-LemonChiffon:  #FFFACD ;   /*柠檬薄纱*/
  --color-PaleGodenrod:  #EEE8AA ;   /*灰秋麒麟*/
  --color-Khaki:  #F0E68C ;   /*卡其布*/
  --color-Gold:  #FFD700 ;   /*金*/
  --color-Cornislk:  #FFF8DC ;   /*玉米色*/
  --color-GoldEnrod:  #DAA520 ;   /*秋麒麟*/
  --color-FloralWhite:  #FFFAF0 ;   /*花的白色*/
  --color-OldLace:  #FDF5E6 ;   /*老饰带*/
  --color-Wheat:  #F5DEB3 ;   /*小麦色*/
  --color-Moccasin:  #FFE4B5 ;   /*鹿皮鞋*/
  --color-Orange:  #FFA500 ;   /*橙色*/
  --color-PapayaWhip:  #FFEFD5 ;   /*番木瓜*/
  --color-BlanchedAlmond:  #FFEBCD ;   /*漂白的杏仁*/
  --color-NavajoWhite:  #FFDEAD ;   /*Navajo白*/
  --color-AntiqueWhite:  #FAEBD7 ;   /*古代的白色*/
  --color-Tan:  #D2B48C ;   /*晒黑*/
  --color-BrulyWood:  #DEB887 ;   /*结实的树*/
  --color-Bisque:  #FFE4C4 ;   /*(浓汤)乳脂,番茄等*/
  --color-DarkOrange:  #FF8C00 ;   /*深橙色*/
  --color-Linen:  #FAF0E6 ;   /*亚麻布*/
  --color-Peru:  #CD853F ;   /*秘鲁*/
  --color-PeachPuff:  #FFDAB9 ;   /*桃色*/
  --color-SandyBrown:  #F4A460 ;   /*沙棕色*/
  --color-Chocolate:  #D2691E ;   /*巧克力*/
  --color-SaddleBrown:  #8B4513 ;   /*马鞍棕色*/
  --color-SeaShell:  #FFF5EE ;   /*海贝壳*/
  --color-Sienna:  #A0522D ;   /*黄土赭色*/
  --color-LightSalmon:  #FFA07A ;   /*浅鲜肉(鲑鱼)色*/
  --color-Coral:  #FF7F50 ;   /*珊瑚*/
  --color-OrangeRed:  #FF4500 ;   /*橙红色*/
  --color-DarkSalmon:  #E9967A ;   /*深鲜肉(鲑鱼)色*/
  --color-Tomato:  #FF6347 ;   /*番茄*/
  --color-MistyRose:  #FFE4E1 ;   /*薄雾玫瑰*/
  --color-Salmon:  #FA8072 ;   /*鲜肉(鲑鱼)色*/
  --color-Snow:  #FFFAFA ;   /*雪*/
  --color-LightCoral:  #F08080 ;   /*淡珊瑚色*/
  --color-RosyBrown:  #BC8F8F ;   /*玫瑰棕色*/
  --color-IndianRed:  #CD5C5C ;   /*印度红*/
  --color-Red:  #FF0000 ;   /*纯红*/
  --color-Brown:  #A52A2A ;   /*棕色*/
  --color-FireBrick:  #B22222 ;   /*耐火砖*/
  --color-DarkRed:  #8B0000 ;   /*深红色*/
  --color-Maroon:  #800000 ;   /*栗色*/
  --color-White:  #FFFFFF ;   /*纯白*/
  --color-WhiteSmoke:  #F5F5F5 ;   /*白烟*/
  --color-Gainsboro:  #DCDCDC ;   /*Gainsboro*/
  --color-LightGrey:  #D3D3D3 ;   /*浅灰色*/
  --color-Silver:  #C0C0C0 ;   /*银白色*/
  --color-DarkGray:  #A9A9A9 ;   /*深灰色*/
  --color-Gray:  #808080 ;   /*灰色*/
  --color-DimGray:  #696969 ;   /*暗淡的灰色*/
  --color-Black:  #000000 ;   /*纯黑*/

  
  --bg-color: #1e1e1e; /*主页面背景色*/
  --text-color: #d4d4d4; /*主页面字体颜色*/
  
  --search-select-bg-color: var(--color-Blue); /**/
  --search-select-text-color: var(--color-Black);
  
  /* Side Bar */
  --side-bar-bg-color: #1e1e1e;
  --side-bar-fg-color: var(--color-Black);
  
  --item-hover-bg-color: var(--color-Khaki);  /*大纲背景色*/
  --item-hover-text-color: var(--color-White);
  
  --sidebar-width: 300px;
  
  /*新增*/

    --select-text-bg-color:#4a89dc;

    --item-hover-bg-color: #0a0d16;
    --control-text-color: #b7b7b7;
    --control-text-hover-color: #eee;
    --window-border: 1px solid #555;

    --active-file-bg-color: rgb(34, 34, 34);
    --active-file-border-color: #8d8df0;

    --primary-color: #a3d5fe;

    --active-file-text-color: white;
    --item-hover-bg-color: #70717d;
    --item-hover-text-color: white;
    --primary-color: #6dc1e7;

    --rawblock-edit-panel-bd: #333;
    --search-select-bg-color: #428bca;
}


html { /*设置正文字体*/
  font-family: Microsoft Yahei;
  font-size: 22px;  /*正文字体大小, 会自动调整到偏好设置字体大小*/
  text-align:left; /*文本两端对齐：justify*/
  -webkit-font-smoothing: antialiased;  /*这个属性可以使页面上的字体抗锯齿,使用后字体看起来会更清晰*/
}

html,
body { /*设置正文行高、背景色等*/
  font-family: Microsoft Yahei;
  line-height: 150%;  /*行高 160*/
  background: var(--bg-color);
  fill: currentColor;
}

#write {
  max-width: 90%;  /*主页面宽度比例*/
  counter-reset: h1;
}

/* 水平分隔线 ***/
hr {
  border: none;
  border-top:3px dashed #9cdcfe;
  height: 1px; /*两线间距*/
}


textarea {
    font-family: Microsoft Yahei,"Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* 块/段落引用 */
blockquote {
  position: relative;
  color: #dcdcaa;  /*引用字体颜色*/
  font-weight: 400;
  border-left: 5px solid #9cdcfe;
  padding-left: 1em;
  margin: 1em 3em 1em 2em;
}


/*ul无序列表 */
ul {
  color: #b5cea8;   /*列表字体颜色*/
  font-family: Microsoft Yahei;
  /*list-style: disc;*/
}

/* ol有序列表*/
ol {
  color: #9cdcfe;   /*列表字体颜色*/
  font-family: Microsoft Yahei;
  list-style: decimal;
}


/*强调文本*/
strong {
	color: #179fff;
	font-weight: 800;  /*bolder*/
	/* text-shadow: 2px 2px 8px var(--color-White);   阴影 */
}



/*`  `*/
code {
  font-family: Microsoft Yahei;
  background-color: #6a9955;
  font-size: 24;
  color: #d4d4d4;
  padding: 2px 2px;
  font-style: normal;
  font-weight: 800;
  margin: 0;
}


/* 统一上标和下标 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/*table----------------------------------------------------------------------------*/
table {
	max-width: 100%;
    width: 100%;
	border-collapse: collapse;
    border-spacing: 0;
	border: solid 1px #4ec9b0;
	margin-bottom: 20px
}

/*表头*/
table th {
  color: #179fff;
  font-weight: 800;
  background-color: #1e1e1e1e;
  
  padding: 8px;
  line-height: 1.5rem;
  border: 1px solid #4ec9b0; 
  vertical-align: middle;
}

table td {
	padding: 8px;
	line-height: 1.5rem;
	border: 1px solid #4ec9b0; 
}

table tr:nth-child(even) {
  background: #1e1e1e1e;  /*隔行背景色*/
  vertical-align: middle;
}

h1, h2{
  font-size: 24px;
  width: auto;
  font-family: Microsoft Yahei;
  -webkit-font-smoothing: initial;
  line-height: 1.35; 
  margin: 30px 1px 10px 0px;
  font-weight: 600;
  color: #6a9955;  /*标题颜色 DarkGreen*/
  font-variant-numeric: lining-nums;
  border-top: 1px solid #ce9178;  /*下划线*/
}


h3, h4, h5, h6 {
  font-size: 22px;
  width: auto;
  font-family: Microsoft Yahei;
  -webkit-font-smoothing: initial;
  line-height: 1.35; 
  margin: 30px 1px 10px 0px;
  font-weight: 600;
  color: #6a9955;  /*标题颜色*/
  font-variant-numeric: lining-nums;
  border-top: 1.5px solid #ce9178;  /* 下划线*/
}



/*自动编号*/
h1 {
	counter-reset: h2
}

h2 {
	counter-reset: h3
}

h3 {
	counter-reset: h4
}

h4 {
	counter-reset: h5
}

h5 {
	counter-reset: h6
}



/* 标题输入之前格式 */
#write h1::before,
#write h2::before {
	color: #ce9178;
    border: inherit;
    border-radius: inherit;
    position: inherit;
    left:initial;
    float: none;
    top:initial;
    font-size: 24px;
    padding-left: inherit;
    padding-right: inherit;
    vertical-align: inherit;
    font-weight: inherit;
    line-height: inherit;
}


#write h3::before,
#write h4::before,
#write h5::before,
#write h6::before {
	color: #ce9178;
    border: inherit;
    border-radius: inherit;
    position: inherit;
    left:initial;
    float: none;
    top:initial;
    font-size: 24px;
    padding-left: inherit;
    padding-right: inherit;
    vertical-align: inherit;
    font-weight: inherit;
    line-height: inherit;
}


#write h1::before {
	counter-increment: h1;
    content: counter(h1) " "
}

#write h2::before {
	counter-increment: h2;
    content: counter(h1) "." counter(h2) " "
}

#write h3::before {
	counter-increment: h3;
    content: counter(h1) "." counter(h2) "." counter(h3) " "
}

#write h4::before {
	counter-increment: h4;
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) " "
}

#write h5::before {
	counter-increment: h5;
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " "
}

#write h6::before {
	counter-increment: h6;
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) " "
}


/*左侧大纲自动编号*/
.sidebar-content {
    counter-reset: h1
}
 
.outline-h1 {
    counter-reset: h2
}

.outline-h2 {
    counter-reset: h3
}
 
.outline-h3 {
    counter-reset: h4
}
 
.outline-h4 {
    counter-reset: h5
}
 
.outline-h5 {
    counter-reset: h6
}
 
.outline-h1>.outline-item>.outline-label:before {
    counter-increment: h1;
    content: counter(h1) " "
}

.outline-h2>.outline-item>.outline-label:before {
    counter-increment: h2;
    content: counter(h1) "." counter(h2) " "
}
 
.outline-h3>.outline-item>.outline-label:before {
    counter-increment: h3;
    content: counter(h1) "." counter(h2) "." counter(h3) " "
}
 
.outline-h4>.outline-item>.outline-label:before {
    counter-increment: h4;
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) " "
}
 
.outline-h5>.outline-item>.outline-label:before {
    counter-increment: h5;
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " "
}
 
.outline-h6>.outline-item>.outline-label:before {
    counter-increment: h6;
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) " "
}