img {
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  background-color: #ffffff;
}

img.emoji,
span.emoji {
  display: inline;
  vertical-align: middle;
}

strong {
  color: #0000ff !important;
  font-weight: 800;
  /*bolder*/
  text-shadow: 2px 2px 8px #fffaf0;
  /* 阴影 */
}
